.hp-services {
  padding: 32px 20px;
  background-color: rgba(0, 25, 69, 0.08);
}

.hp-services-title {
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.hp-services-title h2 {
  font-size: 28px;
  color: #001945;
  margin: 0;
  border-bottom: 1px solid #c65a16;
  text-align: center;
  width: 60%;
}

.hp-services h2 {
  color: #c65a16;
  padding-bottom: 5px;
  margin: 0 0 8px 0;
}

.hp-services p {
  color: #253858;
  margin: 0 0 20px 0;
}

.hp-service-list {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  align-items: start;
}

.hp-service-list a {
  text-decoration: none;
}

.hp-service-item {
  background: #001945;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0,25,69,0.06);
  color: #f2f4f8;
  transition: transform 0.18s ease, box-shadow 0.18s ease;
}

.hp-service-item h3 {
  margin: 0 0 8px 0;
  font-size: 18px;
  
}

.hp-service-item p {
  margin: 0;
  color: rgb(142, 142, 142);
  font-size: 14px;
}

.hp-service-item:hover {
  transform: translateY(-6px);
  color: #c65a16;
  box-shadow: 0 10px 24px rgba(0,25,69,0.12);
}

/*.view-more-btn {
  display: inline-block;
  margin-top: 20px;
  background: #c65a16;
  color: #f2f4f8;
  padding: 12px 20px;
  border-radius: 6px;
  text-align: center;
}*/

@media (max-width: 992px) {
  .hp-services{
    padding: 50px 20px;
  }

}

@media (max-width: 750px) {
  .hp-service-list {
    grid-template-columns: 1fr;
  }

  .services > div:first-child {
    margin-bottom: 12px;
  }
}
