.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0,0,0,0.40)), url(../Assets/contact.jpg);
  background-size : cover;
  background-position: center;
}
.contact h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
.contact p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  text-align: center;
  max-width: 600px;
}
.btn-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.contact-btn {
  background-color: #001945;
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 1000px) {
  .contact {
    padding: 30px 10px;
  }
  .contact h2 {
    font-size: 26px;
  }
  .contact p {
    font-size: 16px;
    max-width: 100%;
  }
  .btn-container {
    gap: 15px;
  }
  .contact-btn {
    padding: 12px 20px;
    font-size: 16px;
  }
}
@media (max-width:550px) {
  .contact {
    padding: 20px 10px;
  }
  .contact h2 {
    font-size: 22px;
  }
  .contact p {
    font-size: 14px;
    max-width: 100%;
  }
  .btn-container {
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
  }
  .contact-btn {
    padding: 10px 50px;
    font-size: 14px;
  }
}
@media (max-width:380px) {
  .contact {
    padding: 15px 5px;
  }
  .contact h2 {
    font-size: 18px;
  }
  .contact p {
    font-size: 12px;
    max-width: 100%;
  }
  .btn-container {
    gap: 8px;
  }
  .contact-btn {
    padding: 8px 40px;
    font-size: 12px;
  }
}