.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001945;
  height: 95vh;
  overflow: hidden;
}

/* LEFT SIDE TEXT */

.hero-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 50px;
  color: white;
  gap: 30px;
}
.hero-left a{
  text-decoration: none;
}
.hero-left h2 {
  font-family: "poppins";
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 200px;
  animation: fadeIn 0.6s ease forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.hero-left p {
  line-height: 1.6;
  font-family: "inter";
  font-weight: 500;
  font-size: 18px;
  animation: fadeIn 0.6s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

/* BUTTON */

.hero-btn {
  display: flex;
  gap: 20px;
  animation: fadeIn 0.6s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

#hero-about {
  padding: 15px 80px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #c65a16;
  font-family: "inter";
  font-weight: 600;
  font-size: 16px;
  color: #001945;
}

#hero-about:hover {
  transform: translateY(-2px);
  background-color: #f6efbf;
  box-shadow: 0 4px 12px rgba(198, 90, 22, 0.4);
}

/* RIGHT SIDE CAROUSEL */

.hero-carousel {
  width: 60%;
  height: 95vh;
  position: relative;
}

.hero-carousel .carousel-inner {
  height: 100%;
}

.hero-carousel .carousel-item {
  height: 95vh;
  position: relative;
}

.hero-image {
  width: 100%;
  height: 95vh;
  object-fit: cover;
  display: block;
}

/* DARK OVERLAY */

.hero-carousel::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: 1;
}

/* SLIDE TEXT */

.carousel-caption-custom {
  position: absolute;
  bottom: 80px;
  right: 80px;
  display: flex;
  gap: 8px;
  font-size: 32px;
  color: #f6efbf;
  background-color: rgba(0, 25, 69, 0.55);
  font-family: "poppins";
  font-weight: 500;
  padding: 12px 28px;
  text-shadow: 1px 3px #001945;
  z-index: 2;
  border-radius: 6px;
}
.carousel-caption-custom h2{
  font-size: 42px;
  font-weight: 600;
  
}

@media (max-width: 1660px) {
  .hero-left {
    padding: 40px;
  }

  .hero-left h2 {
    font-size: 36px;
  }

  .carousel-caption-custom {
    font-size: 26px;
    right: 50px;
  }
}

@media (max-width: 1300px) {
  .hero {
    flex-direction: column;
    
    text-align: center;
  }

  .hero-btn {
    justify-content: center;
  }

  .hero-left {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #00194585;
    padding: 50px;
    border-radius: 8px;
    width: 70%;
  }

  .hero-carousel {
    width: 100%;
    height: 100%;
  }

  .hero-image {
    height: 100%;
  }

  .carousel-caption-custom {
    display: none;
  }
}

@media (max-width: 900px) {
  .hero-left {
    width: 90%;
    padding: 35px;
  }

  .hero-left h2 {
    font-size: 32px;
  }
}

@media (max-width: 460px) {
  .hero-left {
    padding: 25px;
  }
  .hero-left h2 {
    margin-bottom: 150px;
  }
}

@media (max-width: 1300px) and (max-height: 750px) {
  .hero {
    min-height: 900px;
  }
  .hero-image{
    min-height: 900px;
  }
  .hero-left {
    top: 70%;
  }
}



@keyframes fadeIn {
  to { opacity: 1; transform: translateY(0); }
  from { opacity: 0; transform: translateY(20px); }
}